[submodule "kraken-api-client"]
	path = kraken-api-client
	url = https://github.com/payward/kraken-api-client.git
[submodule "EasyGoByte-PHP"]
	path = EasyGoByte-PHP
	url = https://github.com/gobytecoin/EasyGoByte-PHP.git
